.content {
    text-align: center;
}

form.login {
    background-color : #eaffff;
    text-align : center;
    padding : 1em;
}

form {
    margin: 20px 0;
}

table.login  {
    text-align: center;
    margin-bottom: 0.5em;
}

table.list {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.list th,table.list td {
    border: solid 1px #000000;
}

table.list th {
    background-color: #afaffe;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

table.list td {
    background-color: #eaffff;
    text-align: left;
    padding: 2px 10px;
}

table.list td.price {
    text-align: right;
}